<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>servicistic - login</title>
</head>

<body>
    <%- include('Include/header.ejs', {isLoggedIn, username}) %>
        <div class="login">
            <div class="loginBox">
                <p>
                    <strong>Log in to RAISETICK SYSTEM</strong>
                </p>
                <form action="/loginprocess" method="post">
                    <input id="username" name="username" type="text" placeholder="username" class="inputs" />
                    <input id="password" name="password" type="password" placeholder="Password" class="inputs" />
                    <Button class="form_button">
                        <strong>Log in</strong>
                    </Button>
                </form>
            </div>
            <!-- throws error if invalid username or password -->
            <p style="color: red; margin-top: 10px;">
                <% if(typeof(error) !='undefined' ){ %>
                    <%= error %>
                        <% } %>
            </p>
        </div>
    <%- include('Include/footer.ejs') %>